apiVersion: v1
kind: Service
metadata:
  name: {{ .Release.Name }}-server
spec:
  type: ClusterIP
  selector:
    app: {{ .Release.Name }}-server
  ports:
    - port: {{ .Values.server.port }}
      targetPort: {{ .Values.server.port }}
