[project]
name = "server"
version = "0.1.0"
description = "Add your description here"
readme = "README.md"
requires-python = ">=3.9"
dependencies = [
    "aiosqlite>=0.22.1",
    "fastapi>=0.128.8",
    "pydantic>=2.12.5",
    "sqlalchemy>=2.0.46",
    "uvicorn[standard]>=0.39.0",
]
